<h1>Estamos na home</h1>

<% if user_signed_in? %>
	Olá <%= current_user.email %>
	<hr>
	<hr2>Lista de Tweets</hr2>

	<%= form_for @tweet do |f| %>
	  <%= f.text_field :content %>
	  <%= f.submit %>
	  <% end %>
<ol>
	 <% current_user.feed.each do |tweet| %>
		<li><%= tweet.content %> - <%= tweet.user.email %></li>
	<% end %>
</ol>
	<br>
<%= link_to 'Sair' , destroy_user_session_path, method: :delete %>

<% else %>
<%= link_to 'Clique aqui para logar', new_user_session_path %>
<% end %>


