<!DOCTYPE html>
<html>
  <head>
    <title>Rubydan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <div class="notificacoes">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    </div>

  <body>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p>Feito no bootcamp</p>
    </footer>
  </body>
</html>
